<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">

<div id="my-aplayer"
 class="aplayer" 
 data-id='<%- theme.myMusic.id %>'
 data-server='<%- theme.myMusic.server %>'
 data-type='<%- theme.myMusic.type %>'
 data-fixed="true" 
 data-autoplay="false" 
 data-order="list" 
 data-volume="0.55" 
 data-theme="#cc543a" 
 data-preload="auto" 
 data-lrcType=0
></div>

<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting@1.2.0/dist/Meting.min.js"></script>